.containerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    background-color:#c799ae;
}

.navItens {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.links {
    color: black;
    background-color: #c799ae;
    position: relative;
}

.links:hover {
    color: rgb(82, 62, 85);
}


.links::after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    width: 0%;
    height: 3px;
    background-color: rgb(17, 30, 37);
    transition: all .4s ease-in-out;
}
.links:hover::after {
    width: 100%;
}