.containerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    background-color:#CE7DA5;
}

.navItens {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.links {
    color: white;
    background-color:#CE7DA5;
}